.banner {
  height: 200px;
  background-color: #f6f6f6;
}
.list-group-item {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: transparent;
}
.card {
  background-color: transparent;
  &:hover .cart-img{
    filter: brightness(0.7);
  }
  &:hover .btn-favorite{
    transform: translateX(0px);
  }
  &:hover .btn-group{
    transform: translateY(-38px);
  }
  .btn-group {
    transform: translateY(0px);
    left: 0;
    right: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: 10;
  }
}
.cart-img{
  width: 100%;
  transition: all 0.3s;
  filter: brightness(1);
}
.table.products{
  margin-top: 80px;
}
.btn-favorite {
  font-size: 18px;
  color: $white;
  z-index: 10;
  right: 0;
  top: 0;
  transform: translateX(44px);
  transition: all 0.3s;
  background-color: $primary;
}
.btn-cart {
  z-index: 10;
}
.btn-favorite:hover {
  color: #9e2632;
}
.sticky-position{
  top: 90px;
}
.tab-content p {
  @include media-breakpoint-up(lg) {
    width: max-content;
    margin: 0 auto;
  }
  text-align: left;
}
.product-detail {
  .nav-link.active {
    background: none;
    font-weight: bolder;
    color: $primary;
    border-bottom: 2px solid $primary;
    border-radius: 0;
  }
  .nav-link {
    color: $gray-600;
  }
}
.product {
  .swiper-slide {
    height: auto;
  }
  .mySwiper {
    background-color: #f6f6f6;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .mySwiper2 {
    flex-grow: 1;
    height: 600px;
    background-color: #f6f6f6;
    @include media-breakpoint-up(md) {
      margin-right: 20px;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .cart-img{
    width: 100%;
    object-fit: cover;
  }
  .product-img {
    height: 150px;
    width: 100%;
  }
  .table.products{
    margin-top: 80px;
  }
  .btn-favorite {
    font-size: 18px;
    z-index: 10;
  }
  .btn-favorite:hover {
    color: #9e2632;
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  &-also-buy {
    border: 1px solid $gray-300;
    .title {
      position: relative;
      top: calc(-34px / 2);
      background-color: #fff;
      display: inline-block;
      padding: 0 0.75rem;
    }
  }
}
.bg-products-banner {
  background-image: url('https://storage.googleapis.com/vue-course-api.appspot.com/hsinyuuu/1638975683324.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=mMGmCUcUXHUQ1a4hohT%2BO4ZYtM3hvF3m13DQ5Qnx51%2Bkegy%2F9ARM%2FBSmksmpzupSymnUj8Z4%2B1fdbWYjrLiGVrjmwr97FRrLWwrmyW%2FnWnY1DUJUgPU99YRSbq1j0myo0a%2BIqedhB8SsWWQuAi7OrSOIp%2FWhvF0k2%2B9%2FdlBHhUC2SH61baehs0wS73f59%2B7Vp7c%2FC6ijMrFAgLuVU0nAYhqI%2B53fln%2F6qsbTv7EKLQQ2%2FWh3%2BhB0%2Bo5D%2FVskTL4WF2vI7fFVJmqjneqep2X1uYOkWfE1zQteelhxGgSeigtN5z7%2FZcgZHnqdiYTbcIwsLIZ3WDm4qjYkDjUEsqSA8A%3D%3D');
}
