.toast-container {
  top: 80px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1061;
}
.toast {
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: auto;
  }
}